.App {
  top: 5%;
  text-align: center;
}

.App span {
  color: midnightblue;
}

#header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #e3e3e3;
  padding: 1%;
  margin-bottom: 3%;
}

#subHeader{
  margin-bottom: 1%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.panel {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
}